<a href="https://colab.research.google.com/github/CarlosArteagaM/Proyecto-IA_2025-2/blob/main/99%20-%20modelo%20solucion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODELO SOLUCION

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import os
os.environ['KAGGLE_CONFIG_DIR']="."

In [2]:
!kaggle competitions download -c udea-ai-4-eng-20252-pruebas-saber-pro-colombia

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 ./kaggle.json'
Downloading udea-ai-4-eng-20252-pruebas-saber-pro-colombia.zip to /content
  0% 0.00/29.9M [00:00<?, ?B/s]
100% 29.9M/29.9M [00:00<00:00, 905MB/s]

In [3]:
!unzip udea-ai-4-eng-20252-pruebas-saber-pro-colombia

Archive:  udea-ai-4-eng-20252-pruebas-saber-pro-colombia.zip
  inflating: submission_example.csv
  inflating: test.csv
  inflating: train.csv

In [4]:
df = pd.read_csv("train.csv")
d = df.drop(columns=['F_TIENEINTERNET.1'])

In [5]:
d1=d.copy()
# Convertir a mayúsculas y eliminar acentos/caracteres especiales y espacios extra
d1['E_PRGM_ACADEMICO'] = d1['E_PRGM_ACADEMICO'].str.upper()
d1['E_PRGM_ACADEMICO'] = d1['E_PRGM_ACADEMICO'].str.replace('Í', 'I', regex=False)
d1['E_PRGM_ACADEMICO'] = d1['E_PRGM_ACADEMICO'].str.replace('Ú', 'U', regex=False)
d1['E_PRGM_ACADEMICO'] = d1['E_PRGM_ACADEMICO'].str.replace('Á', 'A', regex=False)
d1['E_PRGM_ACADEMICO'] = d1['E_PRGM_ACADEMICO'].str.replace('[^A-Z\s]', '', regex=True) # Elimina caracteres no alfabéticos
d1['E_PRGM_ACADEMICO'] = d1['E_PRGM_ACADEMICO'].str.replace('\s+', ' ', regex=True).str.strip() # Elimina espacios dobles

# Ingenierías
ing_keywords = ['INGENIERIA', 'CIENTIFICA','BIOTECNOLOGIA','ANALISIS','OCEANOGRAFIA','GEOLOGA' ,'GEOGRAFIA','GEOLOGIA','ING', 'SOFTWARE', 'SISTEMAS', 'CONTROL', 'MECANICA', 'ELECTRONICA', 'CIVIL', 'INDUSTRIAL', 'BIOMEDICA', 'AERONAUTICA', 'TELECOMUNICACIONES']
for kw in ing_keywords:
    d1.loc[d1['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'INGENIERIA'

# Ciencias Sociales y Ley
d1.loc[d1['E_PRGM_ACADEMICO'].str.contains('DERECHO|GOBIERNO|POLITICOS|CRIMINAL|CRIMINALISTICA|DESARROLLO|POLITICA|SOCIAL|JURISPRUDENCIA'), 'E_PRGM_ACADEMICO'] = 'CSOCIALES_Y_LEY'

# Administración y Finanzas
admin_keywords = ['ADMINISTRACION','ECONOMA','EMPRESAS','RELACIONES','RESTAURACION','ADMINISTRACIN','ECONOMICAS', 'GESTION','FINANCIERA', 'CONTADURIA', 'CONTADURÍA', 'ECONOMIA', 'MERCADEO', 'NEGOCIOS', 'COMERCIO', 'MARKETING', 'LOGISTICA', 'FINANZAS']
for kw in admin_keywords:
    d1.loc[d1['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'ADMINISTRACION_Y_FINANZAS'

# Salud y Ciencias Básicas
salud_keywords = ['MEDICINA','OPTOMETRIA','GERONTOLOGIA','ESTADISTICA','ASTRONOMIA','ARQUEOLOGIA','FONOAUDIOLOGIA','PSICLOGA','FARMACIA','TERAPIA','FISICA','INSTRUMENTACION','QUIRURGICA','DIETETICA','NUTRICIN', 'CIENCIAS','MATEMATICAS','MATEMATICA','QUMICA', 'ENFERMERIA', 'PSICOLOGIA', 'SALUD', 'ODONTOLOGIA', 'FISIOTERAPIA', 'NUTRICION', 'BIOLOGIA', 'QUIMICA', 'FARMACEUTICA', 'BACTERIOLOGIA', 'MICROBIOLOGIA']
for kw in salud_keywords:
    d1.loc[d1['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'SALUD_Y_CIENCIAS_BASICAS'

# Educación
d1.loc[d1['E_PRGM_ACADEMICO'].str.contains('LICENCIATURA|RECREACION|DEPORTE|FORMACION|DEPORTIVA|ENTRENAMIENTO|LITERATURA|FILOLOGIA|LENGUAS|TEOLOGIA|EDUCACION|PEDAGOGIA'), 'E_PRGM_ACADEMICO'] = 'EDUCACION'

# Comunicación y Diseño
com_dis_keywords = ['COMUNICACION','NARRATIVAS','ARCHIVISTICA','ANIMACIN','LITERARIOS','LITERARIA','FOTOGRAFIA','COMUNICACIN','RADIO', 'DISEO', 'MERCADOLOGIA', 'PERIODISMO', 'PUBLICIDAD', 'AUDIOVISUAL', 'DISEÑO', 'ARQUITECTURA', 'GRAFICO', 'CINE', 'TELEVISION']
for kw in com_dis_keywords:
    d1.loc[d1['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'COMUNICACION_Y_DISENO'

# Ciencias Agrarias y Ambientales
agro_amb_keywords = ['AGRARIA', 'AGRO', 'CONSTRUCCION','ACUICULTURA','VETERINARIA', 'ZOOTECNIA', 'AMBIENTAL', 'ECOLOGIA', 'FORESTAL']
for kw in agro_amb_keywords:
    d1.loc[d1['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'AGRARIAS_Y_AMBIENTALES'

# Arte y Cultura (Debe ir al final para no sobreescribir Licenciaturas)
d1.loc[d1['E_PRGM_ACADEMICO'].str.contains('MUSICA|BANDA|SOCIOLOGIA|ANTROPOLOGIA|CULTURAL|ARTE|DANZA|TEATRO|FILOSOFIA|HISTORIA'), 'E_PRGM_ACADEMICO'] = 'ARTE_Y_HUMANIDADES'

# Turismo y Gastronomía
d1.loc[d1['E_PRGM_ACADEMICO'].str.contains('TURISMO|URBANISMO|GASTRONOMA|TURISTICA|HOTELERIA|GASTRONOMIA|CULINARIA'), 'E_PRGM_ACADEMICO'] = 'TURISMO_Y_GASTRONOMIA'

d1=pd.get_dummies(d1, columns=['E_PRGM_ACADEMICO'], prefix='E_PRGM')

<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:8: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:8: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-890847998.py:7: SyntaxWarning: invalid escape sequence '\s'
  d1['E_PRGM_ACADEMICO'] = d1['E_PRGM_ACADEMICO'].str.replace('[^A-Z\s]', '', regex=True) # Elimina caracteres no alfabéticos
/tmp/ipython-input-890847998.py:8: SyntaxWarning: invalid escape sequence '\s'
  d1['E_PRGM_ACADEMICO'] = d1['E_PRGM_ACADEMICO'].str.replace('\s+', ' ', regex=True).str.strip() # Elimina espacios dobles

In [6]:

d1['E_PRGM_DEPARTAMENTO'] = d1['E_PRGM_DEPARTAMENTO'].str.upper() # A mayúsculas para coincidir con la lista
d1['E_PRGM_DEPARTAMENTO'] = d1['E_PRGM_DEPARTAMENTO'].str.replace('[^A-Z\s]', '', regex=True)
d1['E_PRGM_DEPARTAMENTO'] = d1['E_PRGM_DEPARTAMENTO'].str.replace('\s+', ' ', regex=True).str.strip()

REGIONES = {
    'ANDINA': [
        'ANTIOQUIA', 'BOYACA', 'BOGOT', 'BOGOTA','CALDAS', 'CUNDINAMARCA', 'HUILA', 'NORTE SANTANDER',
        'QUINDIO', 'RISARALDA', 'SANTANDER', 'TOLIMA', 'NARINO','NARIO'
    ],
    'CARIBE': [
        'ATLANTICO', 'BOLIVAR', 'CESAR', 'CORDOBA', 'LA GUAJIRA', 'MAGDALENA',
        'SUCRE', 'SAN ANDRES'
    ],
    'PACIFICA': [
        'CHOCO', 'VALLE', 'CAUCA'
    ],
    'ORINOQUIA': [
        'ARAUCA', 'CASANARE', 'META', 'VICHADA'
    ],
    'AMAZONIA': [
        'AMAZONAS', 'CAQUETA', 'GUAINIA', 'GUAVIARE', 'PUTUMAYO', 'VAUPES'
    ]}
for region, departamentos in REGIONES.items():
    # Asigna la clave del diccionario (ej., 'ANDINA') a todas las filas
    # donde el valor de 'Departamento' está DENTRO de la lista (ej., la lista de departamentos Andinos)
    d1.loc[d1['E_PRGM_DEPARTAMENTO'].isin(departamentos), 'E_PRGM_DEPARTAMENTO'] = region

d1=pd.get_dummies(d1, columns=['E_PRGM_DEPARTAMENTO'], prefix='E_PRGM')

bool_cols = d1.select_dtypes(include=['bool']).columns
d1[bool_cols] = d1[bool_cols].astype(int)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3923576432.py:2: SyntaxWarning: invalid escape sequence '\s'
  d1['E_PRGM_DEPARTAMENTO'] = d1['E_PRGM_DEPARTAMENTO'].str.replace('[^A-Z\s]', '', regex=True)
/tmp/ipython-input-3923576432.py:3: SyntaxWarning: invalid escape sequence '\s'
  d1['E_PRGM_DEPARTAMENTO'] = d1['E_PRGM_DEPARTAMENTO'].str.replace('\s+', ' ', regex=True).str.strip()

In [7]:
def replace_category_for_numbers(df, column_name, mapping_dict):
    df[column_name] = df[column_name].map(mapping_dict)
    return df

mapping_dict = {
    'bajo': 1,
    'medio-bajo': 2,
    'medio-alto': 3,
    'alto': 4}
d2=d1.copy()
d2 = replace_category_for_numbers(d2, 'RENDIMIENTO_GLOBAL', mapping_dict)

mapping_estrato = {
    "estrato1": 1,
    "estrato2": 2,
    "estrato3": 3,
    "estrato4": 4,
    "estrato5": 5,
    "estrato6": 6,
    "sinestrato": 0
}
d2['F_ESTRATOVIVIENDA'] = (
    d2['F_ESTRATOVIVIENDA']
    .astype(str)
    .str.strip()
    .str.replace(" ", "", regex=False)   # Eliminar espacios
    .str.lower()
)

d2 = replace_category_for_numbers(d2, "F_ESTRATOVIVIENDA", mapping_estrato)
#Se llenan casillas vacias con la moda de estrato
d2['F_ESTRATOVIVIENDA'] = d2['F_ESTRATOVIVIENDA'].fillna(d2['F_ESTRATOVIVIENDA'].mode()[0])

d3=d2.copy()
columnas_a_limpiar = ['F_EDUCACIONMADRE', 'F_EDUCACIONPADRE']

for col in columnas_a_limpiar:
    d3[col] = (
        d3[col]
        .astype(str)
        .str.strip()
        .str.lower()
    )

mapping_edu_padres = {
    "ninguno": 0,
    "no aplica": 0,
    "no sabe": 0,
    "primaria incompleta": 1,
    "primaria completa": 2,
    "secundaria (bachillerato) incompleta": 3,
    "secundaria (bachillerato) completa": 4,
    "técnica o tecnológica incompleta": 5,
    "tecnica o tecnologica incompleta": 5,
    "técnica o tecnológica completa": 6,
    "tecnica o tecnologica completa": 6,
    "educación profesional incompleta": 7,
    "educacion profesional incompleta": 7,
    "educación profesional completa": 8,
    "educacion profesional completa": 8,
    "postgrado": 9
}


d3 = replace_category_for_numbers(d3, "F_EDUCACIONMADRE", mapping_edu_padres)
d3 = replace_category_for_numbers(d3, "F_EDUCACIONPADRE", mapping_edu_padres)
#Se llenan casillas vacias con 0
d3['F_EDUCACIONMADRE'] = d3['F_EDUCACIONMADRE'].fillna(0)
d3['F_EDUCACIONPADRE'] = d3['F_EDUCACIONPADRE'].fillna(0)

d4=d3.copy()
def clean_text_column(df, column_name):
    df[column_name] = (
        df[column_name]
        .astype(str)
        .str.strip()
        .str.lower()
        .str.replace('á', 'a')
        .str.replace('é', 'e')
        .str.replace('í', 'i')
        .str.replace('ó', 'o')
        .str.replace('ú', 'u')
        .str.replace(r'[^a-z0-9\s]', '', regex=True)  # ✅ cadena cruda para regex
    )
    df[column_name] = df[column_name].replace('nan', np.nan)
    return df

mapping_matri = {
    'no pago matricula': 0,
    'menos de 500 mil': 1,
    'entre 500 mil y menos de 1 millon': 2,
    'entre 1 millon y menos de 25 millones': 3,
    'entre 25 millones y menos de 4 millones': 4,
    'entre 4 millones y menos de 55 millones': 5,
    'entre 55 millones y menos de 7 millones': 6,
    'mas de 7 millones': 7
}

d4 = clean_text_column(d4, 'E_VALORMATRICULAUNIVERSIDAD')
d4 = replace_category_for_numbers(d4, 'E_VALORMATRICULAUNIVERSIDAD', mapping_matri)
#llenar casillas vacias con valor promedio
d4['E_VALORMATRICULAUNIVERSIDAD'] = d4['E_VALORMATRICULAUNIVERSIDAD'].fillna(round(d4['E_VALORMATRICULAUNIVERSIDAD'].mean()))

def clean_text_column(df, column):
    df[column] = (
        df[column]
        .astype(str)
        .str.lower()
        .str.normalize('NFKD')
        .str.encode('ascii', errors='ignore')
        .str.decode('utf-8')
        .str.replace(r'[^a-z0-9\s]', '', regex=True)
        .str.replace(r'\s+', '', regex=True)
    )
    return df

mapping_work = {
    '0': 0,
    'menosde10horas': 1,
    'entre11y20horas': 1,
    'entre21y30horas': 1,
    'masde30horas': 1,
}

d5=d4.copy()
d5 = clean_text_column(d5, 'E_HORASSEMANATRABAJA')
d5 = replace_category_for_numbers(d5, 'E_HORASSEMANATRABAJA', mapping_work)
#Se rellenan casillas vacias con el promedio
d5['E_HORASSEMANATRABAJA'] = d5['E_HORASSEMANATRABAJA'].fillna(round(d5['E_HORASSEMANATRABAJA'].mean()))

d6 = d5.copy()

mapping_binario = {
    'si': 1,
    'no': 0
}

cols_binarias = ['F_TIENEINTERNET','F_TIENEAUTOMOVIL', 'F_TIENECOMPUTADOR','F_TIENELAVADORA','E_PAGOMATRICULAPROPIO']

for col in cols_binarias:
    d6 = clean_text_column(d6, col)
    d6 = replace_category_for_numbers(d6, col, mapping_binario)

#llenar casillas vacias de  con moda
for col in cols_binarias:
    moda = d6[col].mode(dropna=True)[0]
    d6[col] = d6[col].fillna(moda)

mapping_privado = {
    's': 1,
    'n': 0
}

d6 = clean_text_column(d6, 'E_PRIVADO_LIBERTAD')
d6 = replace_category_for_numbers(d6, 'E_PRIVADO_LIBERTAD', mapping_privado)
#llenar casillas vacias de  con moda
moda = d6['E_PRIVADO_LIBERTAD'].mode(dropna=True)[0]
d6['E_PRIVADO_LIBERTAD'] = d6['E_PRIVADO_LIBERTAD'].fillna(moda)

Verificar que todas las columnas sean numericas

In [8]:
for columna in d6.columns:
    valores_unicos = d6[columna].unique()
    # Imprime el nombre de la columna y sus valores
    print(f"\nColumna: {columna}")
    print(f"Tipo de dato: {d6[columna].dtype}")
    print(f"Total de valores únicos: {len(valores_unicos)}")

    # Muestra los valores  (se limitan a los primeros 10 para evitar saturar la consola)
    print(f"Valores Únicos: {valores_unicos[:10]}...")

Columna: ID
Tipo de dato: int64
Total de valores únicos: 692500
Valores Únicos: [904256 645256 308367 470353 989032 659872  47159  11829 257869 465511]...

Columna: PERIODO_ACADEMICO
Tipo de dato: int64
Total de valores únicos: 9
Valores Únicos: [20212 20203 20195 20183 20194 20213 20184 20202 20196]...

Columna: E_VALORMATRICULAUNIVERSIDAD
Tipo de dato: float64
Total de valores únicos: 8
Valores Únicos: [6. 4. 5. 7. 3. 2. 1. 0.]...

Columna: E_HORASSEMANATRABAJA
Tipo de dato: float64
Total de valores únicos: 2
Valores Únicos: [1. 0.]...

Columna: F_ESTRATOVIVIENDA
Tipo de dato: float64
Total de valores únicos: 7
Valores Únicos: [3. 4. 5. 2. 1. 6. 0.]...

Columna: F_TIENEINTERNET
Tipo de dato: float64
Total de valores únicos: 2
Valores Únicos: [1. 0.]...

Columna: F_EDUCACIONPADRE
Tipo de dato: float64
Total de valores únicos: 10
Valores Únicos: [5. 6. 4. 0. 2. 8. 7. 1. 9. 3.]...

Columna: F_TIENELAVADORA
Tipo de dato: float64
Total de valores únicos: 2
Valores Únicos: [1. 0.]...

Columna: F_TIENEAUTOMOVIL
Tipo de dato: float64
Total de valores únicos: 2
Valores Únicos: [1. 0.]...

Columna: E_PRIVADO_LIBERTAD
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PAGOMATRICULAPROPIO
Tipo de dato: float64
Total de valores únicos: 2
Valores Únicos: [0. 1.]...

Columna: F_TIENECOMPUTADOR
Tipo de dato: float64
Total de valores únicos: 2
Valores Únicos: [1. 0.]...

Columna: F_EDUCACIONMADRE
Tipo de dato: float64
Total de valores únicos: 10
Valores Únicos: [9. 5. 4. 2. 6. 3. 7. 8. 1. 0.]...

Columna: RENDIMIENTO_GLOBAL
Tipo de dato: int64
Total de valores únicos: 4
Valores Únicos: [3 1 4 2]...

Columna: INDICADOR_1
Tipo de dato: float64
Total de valores únicos: 375
Valores Únicos: [0.322 0.311 0.297 0.485 0.316 0.553 0.242 0.238 0.147 0.535]...

Columna: INDICADOR_2
Tipo de dato: float64
Total de valores únicos: 342
Valores Únicos: [0.208 0.215 0.214 0.172 0.232 0.142 0.299 0.316 0.407 0.122]...

Columna: INDICADOR_3
Tipo de dato: float64
Total de valores únicos: 196
Valores Únicos: [0.31  0.292 0.305 0.252 0.285 0.248 0.267 0.286 0.212 0.257]...

Columna: INDICADOR_4
Tipo de dato: float64
Total de valores únicos: 276
Valores Únicos: [0.267 0.264 0.19  0.294 0.175 0.308 0.29  0.328 0.167 0.292]...

Columna: E_PRGM_ADMINISTRACION_Y_FINANZAS
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_AGRARIAS_Y_AMBIENTALES
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_ARTE_Y_HUMANIDADES
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_COMUNICACION_Y_DISENO
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_CSOCIALES_Y_LEY
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_EDUCACION
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_INGENIERIA
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_SALUD_Y_CIENCIAS_BASICAS
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [1 0]...

Columna: E_PRGM_TURISMO_Y_GASTRONOMIA
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_AMAZONIA
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_ANDINA
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [1 0]...

Columna: E_PRGM_CARIBE
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_ORINOQUIA
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

Columna: E_PRGM_PACIFICA
Tipo de dato: int64
Total de valores únicos: 2
Valores Únicos: [0 1]...

In [9]:
print(d6.shape)

(692500, 32)

In [10]:
X = d6.drop(columns=['RENDIMIENTO_GLOBAL','ID'])
y = d6["RENDIMIENTO_GLOBAL"].values
print (X.shape, y.shape)

(692500, 30) (692500,)

# PROBAR MODELOS

In [11]:

from sklearn.metrics import median_absolute_error, r2_score, mean_squared_error

In [12]:
import numpy as np
from sklearn.model_selection import cross_validate, ShuffleSplit, train_test_split
from sklearn.ensemble import RandomForestClassifier # ¡Importamos el modelo de Clasificación!
from sklearn.metrics import accuracy_score
# NOTA: No se usa Pipeline ni StandardScaler porque Random Forest no lo necesita, pero puedes añadirlo si luego pruebas SVC.

# --- 1. CONFIGURACIÓN DE DATOS Y VALIDACIÓN CRUZADA ---

# Definición de variables
# Asume que X y y ya están definidas y cargadas con tus 30 features y etiquetas (1,2,3,4)
# Ejemplo de inicialización (solo para que el código sea ejecutable y demuestre la estructura):
# from sklearn.datasets import make_classification
# X, y = make_classification(n_samples=1000, n_features=30, n_informative=20, n_redundant=0, n_classes=4, n_clusters_per_class=1, random_state=42)

test_size = 0.3
val_size = test_size / (1 - test_size)

# Separación de datos: Entrenamiento/Validación (Xtv, ytv) y Prueba (Xts, yts)
Xtv, Xts, ytv, yts = train_test_split(X, y, test_size=test_size, random_state=42)
print(f"Dimensiones de datos de entrenamiento/validación (Xtv): {Xtv.shape}")
print(f"Dimensiones de datos de prueba (Xts): {Xts.shape}\n")

# --- 2. DEFINICIÓN DE ESTIMADORES (Random Forest con diferentes hiperparámetros) ---

# Evaluaremos tres modelos de Random Forest con diferentes cantidades de árboles (n_estimators)
estimator1 = RandomForestClassifier(n_estimators=50, max_depth=10, random_state=42)
#estimator2 = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=42) # Modelo base (más común)
#estimator3 = RandomForestClassifier(n_estimators=200, max_depth=5, random_state=42)
estimators = [estimator1] #estimator2, estimator3
estimator_names = ["RF (50 árboles, Profundidad 10)"] #, "RF (100 árboles, Profundidad 10)", "RF (200 árboles, Profundidad 5)"

# --- 3. DEFINICIÓN DE LA FUNCIÓN DE REPORTE ---

# Esta función de reporte funciona bien con Accuracy (mayor es mejor)
def report_cv_score(z):
    mean_test = np.mean(z["test_score"])
    std_test = np.std(z["test_score"])
    mean_train = np.mean(z["train_score"])
    std_train = np.std(z["train_score"])

    print (f"TEST score:  {mean_test:.3f} (±{std_test:.4f}) con {len(z['test_score'])} splits")
    print (f"TRAIN score: {mean_train:.3f} (±{std_train:.4f}) con {len(z['train_score'])} splits")
    print(f"Diferencia TRAIN-TEST (Overfitting): {abs(mean_train - mean_test):.3f}")

# --- 4. EJECUCIÓN DEL CROSS-VALIDATION ---

zscores = []
print("--- INICIANDO VALIDACIÓN CRUZADA ---")

for i, estimator in enumerate(estimators):
    print(f"\nModelo a evaluar: {estimator_names[i]}")

    # Configuramos el cross_validate con la métrica 'accuracy'
    z = cross_validate(estimator, Xtv, ytv,
                       return_train_score=True,
                       return_estimator=False,
                       scoring='accuracy', # Métrica de Clasificación: Accuracy (exactitud)
                       cv=ShuffleSplit(n_splits=10, test_size=val_size, random_state=42))

    report_cv_score(z)
    zscores.append(np.mean(z["test_score"]))

# --- 5. SELECCIÓN DEL MEJOR MODELO ---

# Usamos np.argmax porque un valor de Accuracy MÁS ALTO es mejor.
best_index = np.argmax(zscores)
print ("\n--- SELECCIÓN DEL MEJOR MODELO ---")
print (f"El índice seleccionado es: {best_index} ({estimator_names[best_index]})")
best_estimator = estimators[best_index]

print ("\nEstimador seleccionado:")
print (best_estimator)

# ENTRENAR EL MEJOR MODELO CON TODOS LOS DATOS DE ENTRENAMIENTO/VALIDACIÓN (Xtv, ytv)
best_estimator.fit(Xtv, ytv)

# EVALUACIÓN FINAL EN DATOS DE PRUEBA (Xts, yts)
final_accuracy = best_estimator.score(Xts, yts)
print(f"\n✅ ACCURACY FINAL en datos de PRUEBA (Xts): {final_accuracy:.4f}")

Dimensiones de datos de entrenamiento/validación (Xtv): (484750, 30)
Dimensiones de datos de prueba (Xts): (207750, 30)

--- INICIANDO VALIDACIÓN CRUZADA ---

Modelo a evaluar: RF (50 árboles, Profundidad 10)
TEST score:  0.399 (±0.0012) con 10 splits
TRAIN score: 0.420 (±0.0005) con 10 splits
Diferencia TRAIN-TEST (Overfitting): 0.021

--- SELECCIÓN DEL MEJOR MODELO ---
El índice seleccionado es: 0 (RF (50 árboles, Profundidad 10))

Estimador seleccionado:
RandomForestClassifier(max_depth=10, n_estimators=50, random_state=42)

✅ ACCURACY FINAL en datos de PRUEBA (Xts): 0.4000

In [13]:
best_index = np.argmax(zscores)
print ("\n--- SELECCIÓN DEL MEJOR MODELO ---")
print (f"El índice seleccionado es: {best_index} ({estimator_names[best_index]})")
best_estimator = estimators[best_index]

print ("\nEstimador seleccionado:")
print (best_estimator)

# ENTRENAR EL MEJOR MODELO CON TODOS LOS DATOS
best_estimator.fit(X, y)

# EVALUACIÓN FINAL EN DATOS DE PRUEBA (Xts, yts)
final_accuracy = best_estimator.score(Xts, yts)
print(f"\n✅ ACCURACY FINAL en datos de PRUEBA (Xts): {final_accuracy:.4f}")

--- SELECCIÓN DEL MEJOR MODELO ---
El índice seleccionado es: 0 (RF (50 árboles, Profundidad 10))

Estimador seleccionado:
RandomForestClassifier(max_depth=10, n_estimators=50, random_state=42)

✅ ACCURACY FINAL en datos de PRUEBA (Xts): 0.4085

Entrenar la plantilla seleccionada y evaluar el desempeño con datos de test

Aplicar a test.csv

In [15]:
test = pd.read_csv("test.csv")
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296786 entries, 0 to 296785
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID                           296786 non-null  int64
 1   PERIODO_ACADEMICO            296786 non-null  int64
 2   E_PRGM_ACADEMICO             296786 non-null  object
 3   E_PRGM_DEPARTAMENTO          296786 non-null  object
 4   E_VALORMATRICULAUNIVERSIDAD  294063 non-null  object
 5   E_HORASSEMANATRABAJA         283407 non-null  object
 6   F_ESTRATOVIVIENDA            282991 non-null  object
 7   F_TIENEINTERNET              285247 non-null  object
 8   F_EDUCACIONPADRE             286793 non-null  object
 9   F_TIENELAVADORA              279527 non-null  object
 10  F_TIENEAUTOMOVIL             277868 non-null  object
 11  E_PRIVADO_LIBERTAD           296786 non-null  object
 12  E_PAGOMATRICULAPROPIO        293979 non-null  object
 13  F_TIENECOMPUTADOR            280347 non-null  object
 14  F_TIENEINTERNET.1            285247 non-null  object
 15  F_EDUCACIONMADRE             286563 non-null  object
 16  INDICADOR_1                  296786 non-null  float64
 17  INDICADOR_2                  296786 non-null  float64
 18  INDICADOR_3                  296786 non-null  float64
 19  INDICADOR_4                  296786 non-null  float64
dtypes: float64(4), int64(2), object(14)
memory usage: 45.3+ MB

In [16]:
d = test.drop(columns=['F_TIENEINTERNET.1'])

In [17]:
d7=d.copy()
# Convertir a mayúsculas y eliminar acentos/caracteres especiales y espacios extra
d7['E_PRGM_ACADEMICO'] = d7['E_PRGM_ACADEMICO'].str.upper()
d7['E_PRGM_ACADEMICO'] = d7['E_PRGM_ACADEMICO'].str.replace('Í', 'I', regex=False)
d7['E_PRGM_ACADEMICO'] = d7['E_PRGM_ACADEMICO'].str.replace('Ú', 'U', regex=False)
d7['E_PRGM_ACADEMICO'] = d7['E_PRGM_ACADEMICO'].str.replace('Á', 'A', regex=False)
d7['E_PRGM_ACADEMICO'] = d7['E_PRGM_ACADEMICO'].str.replace('[^A-Z\s]', '', regex=True) # Elimina caracteres no alfabéticos
d7['E_PRGM_ACADEMICO'] = d7['E_PRGM_ACADEMICO'].str.replace('\s+', ' ', regex=True).str.strip() # Elimina espacios dobles

# Ingenierías
ing_keywords = ['INGENIERIA', 'CIENTIFICA','BIOTECNOLOGIA','ANALISIS','OCEANOGRAFIA','GEOLOGA' ,'GEOGRAFIA','GEOLOGIA','ING', 'SOFTWARE', 'SISTEMAS', 'CONTROL', 'MECANICA', 'ELECTRONICA', 'CIVIL', 'INDUSTRIAL', 'BIOMEDICA', 'AERONAUTICA', 'TELECOMUNICACIONES']
for kw in ing_keywords:
    d7.loc[d7['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'INGENIERIA'

# Ciencias Sociales y Ley
d7.loc[d7['E_PRGM_ACADEMICO'].str.contains('DERECHO|GOBIERNO|POLITICOS|CRIMINAL|CRIMINALISTICA|DESARROLLO|POLITICA|SOCIAL|JURISPRUDENCIA'), 'E_PRGM_ACADEMICO'] = 'CSOCIALES_Y_LEY'

# Administración y Finanzas
admin_keywords = ['ADMINISTRACION','ECONOMA','EMPRESAS','RELACIONES','RESTAURACION','ADMINISTRACIN','ECONOMICAS', 'GESTION','FINANCIERA', 'CONTADURIA', 'CONTADURÍA', 'ECONOMIA', 'MERCADEO', 'NEGOCIOS', 'COMERCIO', 'MARKETING', 'LOGISTICA', 'FINANZAS']
for kw in admin_keywords:
    d7.loc[d7['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'ADMINISTRACION_Y_FINANZAS'

# Salud y Ciencias Básicas
salud_keywords = ['MEDICINA','OPTOMETRIA','GERONTOLOGIA','ESTADISTICA','ASTRONOMIA','ARQUEOLOGIA','FONOAUDIOLOGIA','PSICLOGA','FARMACIA','TERAPIA','FISICA','INSTRUMENTACION','QUIRURGICA','DIETETICA','NUTRICIN', 'CIENCIAS','MATEMATICAS','MATEMATICA','QUMICA', 'ENFERMERIA', 'PSICOLOGIA', 'SALUD', 'ODONTOLOGIA', 'FISIOTERAPIA', 'NUTRICION', 'BIOLOGIA', 'QUIMICA', 'FARMACEUTICA', 'BACTERIOLOGIA', 'MICROBIOLOGIA']
for kw in salud_keywords:
    d7.loc[d7['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'SALUD_Y_CIENCIAS_BASICAS'

# Educación
d7.loc[d7['E_PRGM_ACADEMICO'].str.contains('LICENCIATURA|RECREACION|DEPORTE|FORMACION|DEPORTIVA|ENTRENAMIENTO|LITERATURA|FILOLOGIA|LENGUAS|TEOLOGIA|EDUCACION|PEDAGOGIA'), 'E_PRGM_ACADEMICO'] = 'EDUCACION'

# Comunicación y Diseño
com_dis_keywords = ['COMUNICACION','NARRATIVAS','ARCHIVISTICA','ANIMACIN','LITERARIOS','LITERARIA','FOTOGRAFIA','COMUNICACIN','RADIO', 'DISEO', 'MERCADOLOGIA', 'PERIODISMO', 'PUBLICIDAD', 'AUDIOVISUAL', 'DISEÑO', 'ARQUITECTURA', 'GRAFICO', 'CINE', 'TELEVISION']
for kw in com_dis_keywords:
    d7.loc[d7['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'COMUNICACION_Y_DISENO'

# Ciencias Agrarias y Ambientales
agro_amb_keywords = ['AGRARIA', 'AGRO', 'CONSTRUCCION','ACUICULTURA','VETERINARIA', 'ZOOTECNIA', 'AMBIENTAL', 'ECOLOGIA', 'FORESTAL']
for kw in agro_amb_keywords:
    d7.loc[d7['E_PRGM_ACADEMICO'].str.contains(kw), 'E_PRGM_ACADEMICO'] = 'AGRARIAS_Y_AMBIENTALES'

# Arte y Cultura (Debe ir al final para no sobreescribir Licenciaturas)
d7.loc[d7['E_PRGM_ACADEMICO'].str.contains('MUSICA|BANDA|SOCIOLOGIA|ANTROPOLOGIA|CULTURAL|ARTE|DANZA|TEATRO|FILOSOFIA|HISTORIA'), 'E_PRGM_ACADEMICO'] = 'ARTE_Y_HUMANIDADES'

# Turismo y Gastronomía
d7.loc[d7['E_PRGM_ACADEMICO'].str.contains('TURISMO|URBANISMO|GASTRONOMA|TURISTICA|HOTELERIA|GASTRONOMIA|CULINARIA'), 'E_PRGM_ACADEMICO'] = 'TURISMO_Y_GASTRONOMIA'

d7=pd.get_dummies(d7, columns=['E_PRGM_ACADEMICO'], prefix='E_PRGM')

<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:8: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:8: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-249702663.py:7: SyntaxWarning: invalid escape sequence '\s'
  d7['E_PRGM_ACADEMICO'] = d7['E_PRGM_ACADEMICO'].str.replace('[^A-Z\s]', '', regex=True) # Elimina caracteres no alfabéticos
/tmp/ipython-input-249702663.py:8: SyntaxWarning: invalid escape sequence '\s'
  d7['E_PRGM_ACADEMICO'] = d7['E_PRGM_ACADEMICO'].str.replace('\s+', ' ', regex=True).str.strip() # Elimina espacios dobles

In [18]:
d7['E_PRGM_DEPARTAMENTO'] = d7['E_PRGM_DEPARTAMENTO'].str.upper() # A mayúsculas para coincidir con la lista
d7['E_PRGM_DEPARTAMENTO'] = d7['E_PRGM_DEPARTAMENTO'].str.replace('[^A-Z\s]', '', regex=True)
d7['E_PRGM_DEPARTAMENTO'] = d7['E_PRGM_DEPARTAMENTO'].str.replace('\s+', ' ', regex=True).str.strip()

REGIONES = {
    'ANDINA': [
        'ANTIOQUIA', 'BOYACA', 'BOGOT', 'BOGOTA','CALDAS', 'CUNDINAMARCA', 'HUILA', 'NORTE SANTANDER',
        'QUINDIO', 'RISARALDA', 'SANTANDER', 'TOLIMA', 'NARINO','NARIO'
    ],
    'CARIBE': [
        'ATLANTICO', 'BOLIVAR', 'CESAR', 'CORDOBA', 'LA GUAJIRA', 'MAGDALENA',
        'SUCRE', 'SAN ANDRES'
    ],
    'PACIFICA': [
        'CHOCO', 'VALLE', 'CAUCA'
    ],
    'ORINOQUIA': [
        'ARAUCA', 'CASANARE', 'META', 'VICHADA'
    ],
    'AMAZONIA': [
        'AMAZONAS', 'CAQUETA', 'GUAINIA', 'GUAVIARE', 'PUTUMAYO', 'VAUPES'
    ]}
for region, departamentos in REGIONES.items():
    # Asigna la clave del diccionario (ej., 'ANDINA') a todas las filas
    # donde el valor de 'Departamento' está DENTRO de la lista (ej., la lista de departamentos Andinos)
    d7.loc[d7['E_PRGM_DEPARTAMENTO'].isin(departamentos), 'E_PRGM_DEPARTAMENTO'] = region

d7=pd.get_dummies(d7, columns=['E_PRGM_DEPARTAMENTO'], prefix='E_PRGM')

bool_cols = d7.select_dtypes(include=['bool']).columns
d7[bool_cols] = d7[bool_cols].astype(int)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-972352487.py:2: SyntaxWarning: invalid escape sequence '\s'
  d7['E_PRGM_DEPARTAMENTO'] = d7['E_PRGM_DEPARTAMENTO'].str.replace('[^A-Z\s]', '', regex=True)
/tmp/ipython-input-972352487.py:3: SyntaxWarning: invalid escape sequence '\s'
  d7['E_PRGM_DEPARTAMENTO'] = d7['E_PRGM_DEPARTAMENTO'].str.replace('\s+', ' ', regex=True).str.strip()

In [19]:
def replace_category_for_numbers(df, column_name, mapping_dict):
    df[column_name] = df[column_name].map(mapping_dict)
    return df
d2=d7.copy()

mapping_estrato = {
    "estrato1": 1,
    "estrato2": 2,
    "estrato3": 3,
    "estrato4": 4,
    "estrato5": 5,
    "estrato6": 6,
    "sinestrato": 0
}
d2['F_ESTRATOVIVIENDA'] = (
    d2['F_ESTRATOVIVIENDA']
    .astype(str)
    .str.strip()
    .str.replace(" ", "", regex=False)   # Eliminar espacios
    .str.lower()
)

d2 = replace_category_for_numbers(d2, "F_ESTRATOVIVIENDA", mapping_estrato)
#Se llenan casillas vacias con la moda de estrato, manejando el caso de moda vacía
mode_estrato = d2['F_ESTRATOVIVIENDA'].mode()
if not mode_estrato.empty:
    d2['F_ESTRATOVIVIENDA'] = d2['F_ESTRATOVIVIENDA'].fillna(mode_estrato[0])
else:
    d2['F_ESTRATOVIVIENDA'] = d2['F_ESTRATOVIVIENDA'].fillna(0) # Default to 'sinestrato'

d3=d2.copy()
columnas_a_limpiar = ['F_EDUCACIONMADRE', 'F_EDUCACIONPADRE']

for col in columnas_a_limpiar:
    d3[col] = (
        d3[col]
        .astype(str)
        .str.strip()
        .str.lower()
    )

mapping_edu_padres = {
    "ninguno": 0,
    "no aplica": 0,
    "no sabe": 0,
    "primaria incompleta": 1,
    "primaria completa": 2,
    "secundaria (bachillerato) incompleta": 3,
    "secundaria (bachillerato) completa": 4,
    "técnica o tecnológica incompleta": 5,
    "tecnica o tecnologica incompleta": 5,
    "técnica o tecnológica completa": 6,
    "tecnica o tecnologica completa": 6,
    "educación profesional incompleta": 7,
    "educacion profesional incompleta": 7,
    "educación profesional completa": 8,
    "educacion profesional completa": 8,
    "postgrado": 9
}


d3 = replace_category_for_numbers(d3, "F_EDUCACIONMADRE", mapping_edu_padres)
d3 = replace_category_for_numbers(d3, "F_EDUCACIONPADRE", mapping_edu_padres)
#Se llenan casillas vacias con 0
d3['F_EDUCACIONMADRE'] = d3['F_EDUCACIONMADRE'].fillna(0)
d3['F_EDUCACIONPADRE'] = d3['F_EDUCACIONPADRE'].fillna(0)

d4=d3.copy()
def clean_text_column(df, column_name):
    df[column_name] = (
        df[column_name]
        .astype(str)
        .str.strip()
        .str.lower()
        .str.replace('á', 'a')
        .str.replace('é', 'e')
        .str.replace('í', 'i')
        .str.replace('ó', 'o')
        .str.replace('ú', 'u')
        .str.replace(r'[^a-z0-9\s]', '', regex=True)  # ✅ cadena cruda para regex
    )
    df[column_name] = df[column_name].replace('nan', np.nan)
    return df

mapping_matri = {
    'no pago matricula': 0,
    'menos de 500 mil': 1,
    'entre 500 mil y menos de 1 millon': 2,
    'entre 1 millon y menos de 25 millones': 3,
    'entre 25 millones y menos de 4 millones': 4,
    'entre 4 millones y menos de 55 millones': 5,
    'entre 55 millones y menos de 7 millones': 6,
    'mas de 7 millones': 7
}

d4 = clean_text_column(d4, 'E_VALORMATRICULAUNIVERSIDAD')
d4 = replace_category_for_numbers(d4, 'E_VALORMATRICULAUNIVERSIDAD', mapping_matri)
#llenar casillas vacias con valor promedio
d4['E_VALORMATRICULAUNIVERSIDAD'] = d4['E_VALORMATRICULAUNIVERSIDAD'].fillna(round(d4['E_VALORMATRICULAUNIVERSIDAD'].mean()))

def clean_text_column(df, column):
    df[column] = (
        df[column]
        .astype(str)
        .str.lower()
        .str.normalize('NFKD')
        .str.encode('ascii', errors='ignore')
        .str.decode('utf-8')
        .str.replace(r'[^a-z0-9\s]', '', regex=True)
        .str.replace(r'\s+', '', regex=True)
    )
    return df

mapping_work = {
    '0': 0,
    'menosde10horas': 1,
    'entre11y20horas': 1,
    'entre21y30horas': 1,
    'masde30horas': 1,
}

d5=d4.copy()
d5 = clean_text_column(d5, 'E_HORASSEMANATRABAJA')
d5 = replace_category_for_numbers(d5, 'E_HORASSEMANATRABAJA', mapping_work)
#Se rellenan casillas vacias con el promedio
d5['E_HORASSEMANATRABAJA'] = d5['E_HORASSEMANATRABAJA'].fillna(round(d5['E_HORASSEMANATRABAJA'].mean()))

d6 = d5.copy()

mapping_binario = {
    'si': 1,
    'no': 0
}

cols_binarias = ['F_TIENELAVADORA','F_TIENEINTERNET','F_TIENEAUTOMOVIL', 'F_TIENECOMPUTADOR','E_PAGOMATRICULAPROPIO']

for col in cols_binarias:
    d6 = clean_text_column(d6, col)
    d6 = replace_category_for_numbers(d6, col, mapping_binario)

#llenar casillas vacias de  con moda
for col in cols_binarias:
    moda = d6[col].mode(dropna=True)
    if not moda.empty:
        d6[col] = d6[col].fillna(moda[0])
    else:
        d6[col] = d6[col].fillna(0) # Default to 0 if mode is empty

mapping_privado = {
    's': 1,
    'n': 0
}

d6 = clean_text_column(d6, 'E_PRIVADO_LIBERTAD')
d6 = replace_category_for_numbers(d6, 'E_PRIVADO_LIBERTAD', mapping_privado)
#llenar casillas vacias de  con moda
moda = d6['E_PRIVADO_LIBERTAD'].mode(dropna=True)
if not moda.empty:
    d6['E_PRIVADO_LIBERTAD'] = d6['E_PRIVADO_LIBERTAD'].fillna(moda[0])
else:
    d6['E_PRIVADO_LIBERTAD'] = d6['E_PRIVADO_LIBERTAD'].fillna(0) # Default to 0 if mode is empty

In [20]:
X_test=d6.copy()
X_test = X_test.drop(columns=['ID'])
print (X_test.shape)

y_pred = best_estimator.predict(X_test)
print (y_pred.shape)

df_sub = pd.DataFrame(d6['ID']) # DataFrame con solo la columna 'ID'

# Asignar la lista directamente como una nueva columna
df_sub['RENDIMIENTO_GLOBAL'] = y_pred.round()
print("\n--- Nuevo DataFrame (Alternativo) ---")
print(df_sub.head())

(296786, 30)
(296786,)

--- Nuevo DataFrame (Alternativo) ---
       ID  RENDIMIENTO_GLOBAL
0  550236                   1
1   98545                   2
2  499179                   4
3  782980                   1
4  785185                   1

In [21]:
map_rend = {
    1:'bajo',
    2:'medio-bajo',
    3:'medio-alto',
    4:'alto'}

df_resultado = pd.DataFrame({
    'ID': df_sub['ID'],                         # <-- Incluye la columna ID aquí
    'RENDIMIENTO_GLOBAL': df_sub['RENDIMIENTO_GLOBAL'].map(map_rend)
})
df_final = df_resultado.set_index('ID')
print(df_final.shape)
df_final.head()

(296786, 1)

       RENDIMIENTO_GLOBAL
ID
550236               bajo
98545          medio-bajo
499179               alto
782980               bajo
785185               bajo

In [22]:
df_final.to_csv('submission_RF.csv')